/* Custom CSS for cards */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  width: 268px !important;
  height: 486px !important;
  margin-top: 12px !important;
  margin-left: 70px !important;
  background-color: #E9EAEC !important;
  border-radius: 8px !important;
}

.premium-card {
  background-color: #FF4405 !important;

}

.card-body {
  padding: 20px !important;
}

.card-title {
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: DM Sans !important;
  line-height: 22px !important;
  letter-spacing: 0.02em !important;
  text-align: center !important;
}

.card-text {
  font-size: 16px !important;
}

.viewPlan-container {
  background: #121212E5 !important;
  width: 1740px !important;
  height: 832px !important;
  padding: 80px 80px 50px 300px !important;
}

.viewPlan-card {
  border-radius: 8px !important;
  background: #FFFFFF !important;
  border: 1px solid #E9EAEC !important;
  width: 992px !important;
  height: 640px !important;
  top: 95px !important;
  left: 144px !important;
}

.viewPlan-label-div {
  left: 386px !important;
  text-align: center !important;
}

.viewPlan-close-div {
  position: relative !important;
  display: flex !important;
  padding: 1px !important;
  gap: 8px !important;
  left: 952px !important;
}

.viewPlan-grid {
  display: grid !important;
  grid-gap: 8px !important;
  grid-template-columns: 279px 279px 279px !important;
  width: 852px !important;
  height: 448px !important;
  top: 122px !important;
  left: 70px !important;
  border-radius: 8px !important;
  border: 1px !important;
}

.viewPlan-card-header {
  text-align: center !important;
  width:158.79px !important;
  height:22px !important;
  margin-top:32px !important;
  margin-left:55px !important;

}

.viewPlan-sub-header-block{
  margin-left: 71px !important;
  top: 72px !important;
  width: 126px !important;
  height: 48px !important;
}

.viewPlan-sub-header-content {
  font-family: elza !important;
  font-weight: 600 !important;
  font-size: 40px !important;
  line-height: 48px !important;
  text-align: right !important;
  width:64px !important;
  height:48px !important;
}

.viewPlan-sub-header-content::after {
  content: "/month" !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  color: #141414 !important;
  width: 58px !important;
  height:21px !important;
  font-family: DM Sans !important;
}

.viewPlan-horizontal-line {
  border-top: 1px solid #FFFFFF !important;
  margin: 10px 0 !important;
  width:224px !important;
  top: 144px !important;
  left: 22px !important;
}

.viewPlan-card-content {
  padding: 8px !important;
  width:208px !important;
  height:132px !important;
  top:168px !important;
  left:24px !important;
  gap:8px !important;
}

.viewPlan-fields-groupBy {
  display: flex !important;
  gap: 11px !important;
}

.viewPlan-card-footer {
  margin-top:95px !important;
  margin-left:70px !important;
  margin-bottom: 10px;
}
.premium-card-sub-caption{
  font-family: Reenie Beanie !important;
  font-weight: 500 !important;
  font-size:36px !important;
  line-height: 25.2px !important;
  letter-spacing: 0.02rem !important;
  text-align: center !important;
  width: 66px !important;
  height:50px !important;
  top:8px !important;
  left:194px !important;
}