// .login-card {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 588px;
//     height: 688px;
//     border-radius: 24px;
//     background: white;
// }

.Popup-container {
    // position: sticky;
    width: 1440px;
    height: 1024px;
    top: -6608px;
    left: -4996px;
    padding: 168px 426px 168px 426px;
    background: #121212E5;
}



