.Login-close-div {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    top: 24px;
    left: 548px;
    padding: 1px;
    gap: 8px;
}

.Login-content {
    width: 486px;
    height: 500.56px;
    top: 78.44px;
    left: 51px;
    border-radius: 8px;
    border: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.login-label-div {
    width: 128px;
    height: 34px;
    top: 59px;
    left: 232px;
    position: relative;
}

.login-fields {
    width: 468px; /* Fixed width */
    height: 77px; /* Fixed height */
    position: relative; /* or position: relative; depending on your layout */
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    gap: 8px; /* Gap between children (if using flexbox or grid) */
}

.login-fields1 {
    width: 468px; /* Fixed width */
    height: 77px; /* Fixed height */
    position: relative; /* or position: relative; depending on your layout */
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
}

.login-main {
    display: flex;
    flex-direction: column;
    gap:8px;
    width: 486px;
height: 571px;
/* top: 59px;
left: 51px; */
position: relative;
border-radius: 8px;
border: 1px;

}

.login-controls {
    display: flex;
    flex-direction: column;
    gap:4px;
}

.login-controls1 {
    display: flex;
    flex-direction: column;
    gap:25px;
}

.login-card-end {
    position: relative;
    width: 232.55px;
height: 48px;
top: 20px;
left: 92px;

}

.login-groupby {
    margin-top: 1rem;
     display: flex;
     align-items: center;
}

.login-groupbyBtns {
    margin-top: 1rem;
     display: flex;
     align-items: center;
     gap:40px;
}

.btn-no-margin {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-no-margin:hover {
    text-decoration: underline; /* Underline on hover */
  }

  .div-line {
    width: 199.34px;
    height: 1px; /* Set the height for a horizontal line */
    /* left: 279.34px;  */
     /* Border with 1px thickness and solid black color *//* Rotate the line by 180 degrees (if you intended to rotate) */
    border: 1px solid #E9EAEC;
    background: #E9EAEC;
    margin: 0 10px;
  }

  .margin-left {
    margin-left: auto;
  }

  